1. Каждый запрос должен включать в себя имя и фамилию заявителя. Запросы без указания фамилии следует считать
   некорректными и отклонять.

2. Каждый запрос должен включать в себя дату начала поездки (agreementDateFrom).
   Запросы без указания этой даты следует считать некорректными и отклонять.

3. Каждый запрос должен включать в себя дату окончания поездки (agreementDateTo).
   Запросы без указания этой даты следует считать некорректными и отклонять.

4. Каждый запрос должен содержать дату начала поездки (agreementDateFrom) и
   дату окончания поездки (agreementDateTo), при этом дата окончания должна быть позже даты начала.
   Запросы, в которых дата окончания поездки меньше или равна дате начала, следует считать некорректными и отклонять.

5. Система должна принимать на вход даты из будущего периода, а не из прошлого.
   Расчет стоимости полиса должен производиться исключительно на основе этих будущих дат.
   Система должна отвергать любые попытки ввода дат из прошлого.

6. Система расчета стоимости страхового полиса для путешественников должна основываться на выбранных клиентом рисках,
   от которых он хочет застраховаться.
   Стоимость полиса должна быть суммой стоимости страховки для каждого выбранного риска.
   Требования:
   Система должна предоставлять клиенту возможность выбора различных рисков, от которых он желает застраховаться
   (медицинские расходы, отмена поездки, утеря багажа, ответственность перед третьими лицами, эвакуация и репатриация, активный отдых).
   Расчет стоимости страхового полиса должен производиться как сумма стоимости страховки для каждого выбранного риска.
   Клиент должен выбрать как минимум один риск, от которого он желает застраховаться.
   Система должна четко отображать, какие риски были выбраны клиентом и соответствующую стоимость страховки для каждого.

7. Бизнес принял решение реализовать расчет стоимости страхового полиса для медицинского риска в первую очередь,
   прежде чем добавлять другие риски. Бизнес ожидает, что после реализации расчета для медицинского риска,
   система будет готова к запуску в производство.
   Остальные риски будут добавляться в систему постепенно после запуска.
   Информация о расчете стоимости медицинского риска
   Возраст клиента: чем старше клиент, тем выше вероятность медицинских проблем во время путешествия.
   Страховые компании предлагают различные тарифы для разных возрастных групп.
   Длительность путешествия: чем дольше путешествие, тем выше вероятность медицинских проблем.
   Страховые компании могут предлагать различные тарифы в зависимости от продолжительности поездки.
   Страны посещения: в некоторых странах медицинские расходы могут быть очень высокими,
   поэтому страховые компании могут устанавливать более высокую стоимость для покрытия медицинских расходов в этих странах.
   Страховой лимит: чем выше лимит страхового покрытия, тем выше стоимость медицинского риска в страховом полисе.
   Формула расчета стоимости медицинского риска
   premium = CountryDefaultDayPremium * DayCount * AgeCoefficient * InsuranceLimitCoefficient



